[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=Dukto
Comment=Easy and multi-platform file transfer tool
Exec=/usr/bin/dukto
Icon=dukto
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
